<!-- A TEMPLATING LANGAUGE IS A ONE THAT ALLOWS US TO RENDER DYNAMIC CONTENT FORM VARIOUS DATA SETS {
    JSON ,DATABASE 
    USING VANILLA JS WE USED INNERHTM WITH FUNCTIONS 

    USING EXPRESS TO RENDER A BACKED DYNAMIC DATA WE USE A TEMPLATING LANGUAGE CALLED EJS 
    EJS >>EMBEDDING  JS DURECTLY TO HTML TAGS 
    TO DO THIS WE RENAME OUR SATIC FILES TO DYNAMIC FILES VIA THE FILE EXTENSION .EJS 
    pass varibales stored in the server.js ,access the stored data in the ejs via the dot notation 

    the syntax of ejs is unique in that it is: <%= dynamic content%>,(tag)

    installing ejs {
    npm i ejs 

    accessing it in our server {
    to acces it we set the view engine to ejs 
    app.set("view engine" ,"ejs")

    }
    }
    when rendering static files we were using res.sendFile()
    but bow to render dynamic data we use 
    res.render()


    for ejs we have a specific syntax on the symbols {
    
    to loop and perform functions we use 
    <% %>

    to return an output we use {
    <%= %>

    to return enclosed content  we use {
    %>
    <%
    }
    }
    }

} -->